registry=https://registry.npmmirror.com
//172.17.8.14:8081/repository/npm-public/:_authToken=NpmToken.fe7effc1-d513-36ec-8168-9d3d2bce6217
@ruijie:registry=http://172.17.8.14:8081/repository/npm-public/